<%- include('partials/header') -%>
<div class="container mt-5">
    <a href="/data" class="btn btn-primary">Scrap Data</a>
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Batch</th>
                <th>Status</th>
                <th>Document</th>
            </tr>
        </thead>
            <tbody>
                <% rows.forEach((row)=> { %>
                    <tr>
                        <td><%= row.batch %></td>
                        <td><%= row.status %></td>
                        <td><%= row.document %></td>
                    </tr>
               <% }) %>
            </tbody>
        </table>
    </div>
<%- include('partials/footer') -%>